<section class="admin-products-index">

  <header class="page-header">
    <h1>Admin &raquo; Dashboard</h1>
  </header>

  <div class="well">
    <%= link_to '+ New Product', [:new, :admin, :product], class: 'btn btn-info' %>
  </div>

  <div class="panel panel-default products">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Products</th>
          <th colspan="2">Categories</th>
        </tr>
      </thead>
      <tbody>
          <th colspan="2"><%= @product_count %></th>
          <th colspan="2"><%= @category_count %></th>
      </tbody>
    </table>

  </div>

</section>
