  
<header class="page-header">
  <h1>About</h1>
</header>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quos id temporibus ipsa voluptatum ratione. Sunt, magnam! Magni voluptatum culpa maiores, animi odit, harum suscipit assumenda, iste laudantium sequi voluptatem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quos id temporibus ipsa voluptatum ratione. Sunt, magnam! Magni voluptatum culpa maiores, animi odit, harum suscipit assumenda, iste laudantium sequi voluptatem.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum quos id temporibus ipsa voluptatum ratione. Sunt, magnam! Magni voluptatum culpa maiores, animi odit, harum suscipit assumenda, iste laudantium sequi voluptatem.</p>
